/* ==============================
      Meyer CSS Reset
   ============================== */

/*
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ==============================
      Core Structure
   ============================== */

html, body {
	padding-bottom: 20px;
}

#container {
	width: 770px;
	padding-right: 200px;
	margin: 0 auto;
}

#content { /*  510px in the end */
	margin-left: 240px;
	margin-right: 20px;
}

#sidebar {
	width: 200px;
	margin-left: 20px;
	float: left;
	display: inline; /* floats are handled as block elements, this is to fix 
						a margin collapsing bug in IE */
}

hr {
	border: 0px;
	height: 1px;
	margin-bottom: -1px;
	width: 970px;
	clear: both;
	}
	#content hr {
		width: 510px;
		clear: right;
	}
	#sidebar hr {
		width: 200px;
		clear: left;
	}



/* ==============================
      Buttons
   ============================== */

.button,
input[type=submit],
form.cmxform input[type=submit] {
	cursor: pointer;
	display: inline-block;
	width: auto;
	padding: 5px 10px 5px 32px;
	margin: 2px;
	background-position: 10px center;
	background-repeat: no-repeat;
	background-color: whiteSmoke;

	border: 1px solid #DEDEDE;
	border-top: 1px solid #EEE;
	border-left: 1px solid #EEE;

	line-height: 22px;
	text-decoration: none;
}

.button:hover {
	/* Colors: Standard */
    background-color: #dff4ff;
    border:1px solid #c2e1ef;
    color: #336699;
	}
	.button:active {
    background-color: #6299c5;
    border:1px solid #6299c5;
    color: #fff;
}

.button.positive {
	/* Colors: Positive */
    color: #529214;
	}
	.button.positive:hover {
    background-color: #E6EFC2;
    border: 1px solid #C6D880;
    color: #529214;
	}
	.button.positive:active {
    background-color: #529214;
    border: 1px solid #529214;
    color: #fff;
}

.button.negative {
	/* Colors: Negative */
    color: #d12f19;
	}
	.button.negative:hover {
    background-color: #fbe3e4;
    border: 1px solid #fbc2c4;
    color: #d12f19;
	}
	.button.negative:active {
    background-color: #d12f19;
    border: 1px solid #d12f19;
    color: #fff;
}

.button.change {
	/* Colors: Change */
    color: #563D11;
	}
	.button.change:hover {
    background-color: #FBF5D3;
    border: 1px solid #F1D576;
    color: #000;
	}
	.button.change:active {
    background-color: #563D11;
    border: 1px solid #563D11;
    color: #fff;
}


/* Icons */
.button.skip       { background-image: url('../images/silk/control_fastforward.png'); }
.button.skip:hover { background-image: url('../images/silk/control_fastforward_blue.png'); }
.button.next       { background-image: url('../images/silk/control_play.png'); }
.button.next:hover { background-image: url('../images/silk/control_play_blue.png'); }
.button.down       { background-image: url('../images/silklike/control_download.png'); }
.button.down:hover { background-image: url('../images/silklike/control_download_blue.png'); }

.button.accept     { background-image: url('../images/silk/accept.png'); }
.button.add        { background-image: url('../images/silk/add.png');    }
.button.add-image  { background-image: url('../images/silk/image_add.png'); }

.button.cancel     { background-image: url('../images/silk/cross.png'); }
.button.delete     { background-image: url('../images/silk/delete.png'); }

.button.edit-txt   { background-image: url('../images/silk/page_white_edit.png'); }
.button.edit-imge  { background-image: url('../images/silk/image_edit.png'); }



/* ==============================
      Global Text
   ============================== */

html, body, h4, h5, input  {
	color: #666;
	font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.2em;
}

h1, h2, h3, legend {
	line-height: 1.2em;
	color: #333;
}

h4, h5 {
	color: black;
	margin-bottom: 2px;
}

#sidebar { 
	font-size: 14px;
	color: #333;
}

label,
input,
select,
textarea,
a.button {
	font-size: 18px;
	color: #666;
	}
	textarea {
		font-size: 14px;
	}
	input.file {
		font-size: 14px;
}

.form_sidenote {
	font-size: 12px;
}
label small,
label small a:link,
label small a:visited {
	color: #999;
	font-size: 12px;
	font-style: italic;
}

h1 {
	/* There currently is no h1 */
	}
	h2, legend {
		padding-bottom: 10px;
		font-size: 20px;
	}
	h3 {
		margin: 0;
		font-size: 20px;
	}
	h3 span { /* grey non-link part of the title */
		color: #999;
	}
	h4, h4 a:link, h4 a:visited {
		margin: 0;
		color: #aaa;
}

p {
	line-height: 1.4em;
}

p, ul, ol, hr.clear {
	margin-bottom: 15px;
}

acronym { /* for sidebar acronyms ( KTMWTB, EMFH... ) */
	border: 0;
}

strong, b {
	font-weight: bold;
}

a, a img {
	color: #000;
	}
	a img {
		border: 0;
	}
	a:hover {
		color: #336699;
	}
	a:active {
	    color: #fff;
		background-color: #6299c5;
}

li {
	padding: 0 0 4px 20px;
}



/* ==============================
      Markdown
   ============================== */

	.markdown li {
		margin: 0 0 10px 20px;
		padding: 0 0 0 0;
	}

	.markdown ul {
		list-style-type: circle;
		list-style-position: outside;
	}

	.markdown ol {
		list-style-type: decimal;
		list-style-position: outside;
	
	}

	.markdown em {
		font-style: italic;
	}

	.markdown strong {
		font-weight: bold;
	}
	
	.markdown p {
	  overflow: hidden;
	}

/* ==============================
      Header Menu
   ============================== */

div#menu {
	background-color: #1A1A1A;
	border-bottom: 1px solid #000;
	border-top: 2px solid #7197CC;
	margin-bottom: 30px;
}
div#menu ul li {
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}
div#menu #navigation {
	width: 970px;
	margin: 0 auto;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}
div#menu a {
	display: block;
	margin: 5px;
	padding: 5px 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	}
	div#menu a:link,
	div#menu a:visited {
		color: #fff;
		text-decoration: none;
	}
	div#menu ul li a:active,
	div#menu ul li a:hover {
		background-color: #000;
		color: #fff;
}
div#menu a.logo {
	font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
	text-transform: none;
	font-size: 1.1em;
	}
	a.logo span {
		color: #6C98CC;
}
div#menu a.control {
	color: #ccc;
}
div#menu a.username {
	max-width: 135px;
	overflow: hidden;
}



/* ==============================
      Footer
   ============================== */

div#footer {
	clear: both;
	
	background-color: #343434;
	text-align: center;
	background-image: url("../images/bg_footer.png");
	background-repeat: repeat-x;
	position: absolute;
	right: 0;
	left: 0;
}
div#footer .community_box {
	text-decoration: none;
	text-align: left;
	width: 201px;
	border: 2px solid #222;
	float: left;
	margin: 10px;
	background-color: #272727;
	padding: 10px;
	color: #666;
}
div#footer .community_box span {
	display: block;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	text-decoration: none;
}
div#footer .community_box:hover {
	border-color: white;
	outline: thin solid black;
	background-color: #222;
}
div#footer div#community_boxes {
	width: 980px;
	margin: 0 auto;
}



/* ==============================
      Notices
   ============================== */

div.notice {
	padding: 5px 10px 5px 32px;
	margin: 0;
	margin-bottom: 15px;

	background-position: 10px center;
	background-repeat: no-repeat;
	background-color: whiteSmoke;
	background-image: url('../images/silk/information.png') ;

	border: 1px solid #DEDEDE;
	border-top: 1px solid #EEE;
	border-left: 1px solid #EEE;

	line-height: 22px;
	text-decoration: none;
}

#errorExplanation {
	border: 2px solid red;
	padding: 10px;
	padding-bottom: 0px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	}
	#errorExplanation h2 {
		text-align: left;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 5px 5px 5px 15px;
		font-size: 12px;
		margin: -10px; 
		margin-bottom: 10px;
		background-color: #c00;
		color: #fff;
	}
	#errorExplanation p {
		color: #333;
	}
	#errorExplanation ul {
		list-style: square;
		list-style-position: inside;
}



/* ==============================
      Sidebar
   ============================== */

#sidebar {
	margin-bottom: 10px;
}

#sidebar ul {
	margin-bottom: 20px;
	}
	#sidebar ul li {
		list-style: none;
	}
	#sidebar ul li a:link,
	#sidebar ul li a:visited {
		color: #666;
	}
	#sidebar ul li a:hover {
		color: #336699;
	}
	#sidebar ul li a:active {
		color: #fff;
}

#search {
	width: 120px;
	padding: 2px;
	margin: 0;

	font-size: inherit;
	border: solid 1px #ddd;
}



/* ==============================
      Manage Tables
   ============================== */

div.manage_map {
	margin-bottom: 20px;
	}
	table.manage {
		float: right;
		text-align: center;
		clear: right;
		color: #ccc;
		border-collapse: collapse;
		}
		table.manage td, table.manage th {
			padding: 0 10px 10px;
			background-color: #f3f3f3;
			border-left: solid 1px #666;
		}
		table.manage th {
			padding: 10px;
			border-top: 1px solid #ccc;
			color: #000;
			font-weight: normal;
		}
		table tr.newest {
			color: #666;
}

div.quote img {
	float: right;
	border: 1px solid black;
	margin-left: 10px;
}



/* ==============================
      CMX Form
   ============================== */

form.cmxform {
	width: 500px;
}

form.cmxform em {
	font-style: normal;
	color: #f00;
}

form.cmxform legend {
	_margin: 0 -7px; /* IE Win */
}

/*\*//*/ form.cmxform legend { display: inline-block; } /* IE Mac legend fix */

form.cmxform fieldset {
	margin-bottom: 10px;
	}
	form.cmxform fieldset, form.cmxform fieldset fieldset {
		border: none;
	}
	form.cmxform fieldset ol {
		margin: 0;
		margin-bottom: 20px;
		padding: 0;
		}
		form.cmxform fieldset li {
			padding: 0px 10px 10px 10px;
			list-style: none;
			margin: 0;
}

form.cmxform div.form_sidenote ol li {
	list-style: decimal inside;
	margin: 0;
	padding: 0;
}
form.cmxform div.form_sidenote ol {
	padding: 0;
	margin: 5px 0 10px 10px;
}
	

form.cmxform label {
	display: -moz-inline-box; /* Fixes Firefox */
	display: inline-block;
	vertical-align: top;
	width: 120px; /* Width of labels */
}

form.cmxform label small {
	display: block;
}
	
form.cmxform fieldset fieldset {
	border: none;
	margin: 3px 0 0;
	}
	form.cmxform fieldset fieldset legend {
		padding: 0 0 5px;
		font-weight: normal;
	}
	form.cmxform fieldset fieldset label {
		display: block;
		width: auto;
		margin-left: 123px; /* Width plus 3 (html space) */
}

form.cmxform input,
form.cmxform select,
form.cmxform textarea {
	border: solid 1px #ddd;
	padding: 2px;
	color: #666;
	width: 210px;
	background-color: #fff;
	}
	form.cmxform div.fieldWithErrors input,
	form.cmxform div.fieldWithErrors select,
	form.cmxform div.fieldWithErrors textarea {
		border: solid 2px #c00;
		background-color: #f0f0f0;
		width: 208px;
	}
	form.cmxform textarea.summary {
		height: 200px;
}

form.cmxform input.file {
	width: 202px;
	padding: 6px;
	border: solid 1px #ddd;
}

form.cmxform div.form_sidenote {
	clear: right;
	float: right;
	padding: 0;
	width: 180px;
	margin-right: -50px;
	margin-bottom: 15px;
}

form.cmxform div.fieldWithErrors {
	display: inline;
}



/* ==============================
      Maps
   ============================== */

div.map {
	margin-bottom: 40px;
}

div.sidenote {
		float: right;
		margin-top: 7px;
	}
	div.sidenote .button {
		margin: 0;
}

div.subnote {
	clear: right;
	background-color: #f1f1f1;
	margin-left: -10px;
	padding: 5px 10px;
	border-top: 1px solid #cecece;
	color: #555;
	}
	div.subnote span.pipe {
		color: #f1f1f1;
		border-right: 1px solid #cacaca;
		padding: 5px 0;
		margin-left: -6px;
}

div.indent {
	margin-top: 15px;
	}
	div.indent img {
		float: right;
		padding: 5px;
		margin: 0 0 15px 15px;
		border: 1px solid #ccc;
}



/* ==============================
      Reviews
   ============================== */

div.review {
	margin-bottom: 30px;
}



/* ==============================
      Screenshots
   ============================== */

#map_screenshots {
		margin-bottom: 110px;
	}
	#map_screenshots div {
		border: solid 1px #000;
		width: 160px;
		height: 90px;
		text-align: center;
		background-color: #000;
		margin: 4px;
		padding: 0;
		margin-bottom: -60px;
	}
	#map_screenshots img.removescreenshot {
		float: right;
		position: relative;
		bottom: 20px;
		right: 4px;
	}
	#map_screenshots div#map_screenshots_list {
		border: none;
		background-color: #fff;
		margin: 0;
	}
	div.screenshot_column_2 {
			position: relative;
			right: -170px;
			top: -35px;
		}
		div.screenshot_column_3 {
			position: relative;
			right: -340px;
			top: -70px;
	}
	div#map_screenshots span {
		background-color: #000;
		color: #fff;
		display: block;
		padding: 2px 1px;
		margin: 0 -1px;
		font-size: 0.8em;
}



/* ==============================
      Star Rating
   ============================== */

.star-rating{
	float: right;
	margin-right: 0.167px;
	list-style:none;
	margin: 0px;
	padding:0px;
	width: 125px;
	height: 25px;
	position: relative;
	background: url('../images/star_rating.gif') top left repeat-x;		   
}

.star-rating li{
	padding:0px;
	margin:0px;
	/*\*/
	float: left;
	/* */
	}
	.star-rating li a{
		display:block;
		width:25px;
		height: 25px;
		text-decoration: none;
		text-indent: -9000px;
		z-index: 20;
		position: absolute;
		padding: 0px;
		}
		.star-rating li a:hover{
			background: url('../images/star_rating.gif') left center;
			z-index: 2;
			left: 0px;
			border:none;
}

.star-rating li.current-rating{
	background: url('../images/star_rating.gif') left bottom;
	height: 25px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
}

.stat-rating a {
	}
	.star-rating a.one-star{
		left: 0px;
		}
		.star-rating a.one-star:hover{
			width:25px;
	}
	.star-rating a.two-stars{
		left:25px;
		}
		.star-rating a.two-stars:hover{
			width: 50px;
	}
	.star-rating a.three-stars{
		left: 50px;
		}
		.star-rating a.three-stars:hover{
			width: 75px;
	}
	.star-rating a.four-stars{
		left: 75px;
		}	 
		.star-rating a.four-stars:hover{
			width: 100px;
	}
	.star-rating a.five-stars{
		left: 100px;
		}
		.star-rating a.five-stars:hover{
			width: 125px;
}



/* ==============================
      Pagination
   ============================== */

.pagination {
	padding: 3px;
	margin: 3px;
	text-align: center;
	}
	.pagination a, span.current {
		background-color: whiteSmoke;
		padding: 2px 5px;
		margin: 2px;
		border: 1px solid #DEDEDE;
		border-top: 1px solid #EEE;
		border-left: 1px solid #EEE;
		text-decoration: none;
		line-height: 22px;
		}
		.pagination a:hover {
		    background-color: #dff4ff;
		    border: 1px solid #c2e1ef;
		    color: #336699;
		}
		.pagination a:active {
		    background-color: #6299c5;
		    border:1px solid #6299c5;
		    color: #fff;
	}
	.pagination span.current {
	    background-color: #6299c5;
	    border:1px solid #6299c5;
	    color: #fff;
	}
	.pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #eee;
		color: #ddd;
}