
<h1><%= link_to pagetitle("Active Users"), users_path %></h1>

<div class="full">

	<% for user in @users %>
	  <a href="<%= user_path(user.permalink) %>">
		<div class="user">
			<%= content_tag :h3, truncate(user.login, 15, "...") %>
			<%= content_tag :h4, ( pluralize(user.items_count, 'item') + ', ' + pluralize(user.reviews_count, 'review') ) %>
		</div>
    </a>
	<% end %>

</div>

<hr />