<div class="content">
  <%= render :partial => "layouts/sort" %>
  <hr />
  
  <%= render :partial => 'items/show', :collection => @items %>
</div>

<div class="content">
  <%= render :partial => 'reviews/show', :collection => @reviews %>
</div>