<h1><%= @user.login %></h1>

<div class="content">
  <h2>Submissions</h2>
  
  <%= render :partial => "layouts/sort" %>
  <hr />
  
  <%= render :partial => 'items/show', :collection => @items %>
</div>

<div class="content">
  <h2>Reviews</h2>
  <%= render :partial => 'reviews/show', :collection => @reviews %>
</div>