	<fieldset>
		<legend>Reviewing <%= @item.name %></legend>
		<ol>
			<li>
				<label for="review_title">Title <em>*</em></label>
				<%= f.text_field :title %>
			</li>
			<li>
				<label for="review_rating">Rating <em>*</em></label>
				<%= f.select :rating, [1, 2, 3, 4, 5] %>
			</li>
			<li>
				<label for="review_bodu">Review <em>*</em></label>
				<%= f.text_area :body %>
			</li>
		</ol>
	</fieldset>