<%= error_messages_for :child %>

<% form_for(:child, :url => item_version_path(@item, @child), :html => { :multipart => true, :class => 'cmxform', :method => :put }) do |f| %>
	<%= render :partial => 'form', :locals => {:f => f} %>

	<p>
		<%= submit_tag 'Save changes', :class => 'button positive accept' %>
	</p>
<% end %>