		<fieldset>
			<legend>Basic Information</legend>
			<div class="form_sidenote">
				Items on Simplici7y consist of basic information, and version-specific information. Basic information shouldn't change with each new version. Put information about your changes in the version release notes.
			</div>
			<div class="form_sidenote">
				<u>Suggested tags</u><br />(separate with spaces)</small><br />
				<b>File Types:</b> map script utility film<br />
				<b>Gameplay:</b> emfh koth ktmwtb emfhs solocoop</a><br />
			</div>

			<ol>
				<li>
					<label for="item_name">Name <em>*</em></label>
					<%= f.text_field :name %>
				</li>
				<li>
					<label for="item_tc">Scenario</label>
					<%= f.collection_select(:tc_id, Tag.find_by_name('scenario').items, :id, :name, { :include_blank => true }) if Tag.find_by_name('scenario') %>
				</li>
				<li>
					<label for="tags">Tags</label>
					<%= text_field_tag 'tags', @item.tag_list %>
				</li>
				<li>
					<label for="item_body">Body <em>*</em> <small><a href="http://daringfireball.net/projects/markdown/basics">advanced formatting</a></small></label>
					<%= f.text_area :body, :class => 'summary' %>
				</li>
			</ol>
		</fieldset>