<!DOCTYPE html>
<html>
<head>
    <title>Page not found</title>
    <style>
        body {
          color: #242426;
          font-family: sans-serif;
          padding: 4rem;
        }

        a, a:hover, a:active, a:link {
          color: #00a3e0;
        }
    </style>
</head>
<body>
    <h1>Simplici<span style="color: #00a3e0">7</span>y <span style="color: #00a3e0">2.0</span>: Coming soon</h1>
    <p>For now, check out <a href="https://lochnits.com/s7/">lochnits.com/s7/</a></p>
</body>
</html>
