{% load static %}

<div id="footer">
	<img src="{% static 'images/big-logo.png' %}" width="945px" alt="Simplici7y" />
	<div id="community">
		<a href="https://alephone.lhowon.org/" class="community_box">
			<span>Aleph One</span> Play Marathon free.
		</a>
		<a href="https://discord.gg/ZuJRd8xJ" class="community_box">
			<span>Discord</span> Talk with players and mappers.
		</a>
		<a href="http://forums.bungie.org/story/" class="community_box">
			<span>Marathon Story</span> The original Marathon forum.
		</a>
		<a href="https://marathon.bungie.org/indexclassic.html" class="community_box">
			<span>Everything else</span> marathon.bungie.org.
		</a>
	</div>
	<hr />
</div>
