{% load static %}

<div id="footer">
    <img src="{% static 'images/big-logo.png' %}" width="945px" alt="Simplici7y" />
    <div id="community">
        <a href="https://alephone.lhowon.org/" class="community_box">
            <span>Aleph One</span> Play Marathon free.
        </a>
        <a href="https://discord.gg/ZuJRd8xJ" class="community_box">
            <span>Marathon Discord</span> Talk and play online.
        </a>
        <a href="http://forums.bungie.org/story/" class="community_box">
            <span>Marathon Story</span> The original Marathon forum.
        </a>
        <a href="https://github.com/rkuykendall/Simplici7y" class="community_box">
            <span>Github - Simplici7y</span> Source code for this site.
        </a>
    </div>
    <hr />
</div>
