{% load static %}
{% load markdownify %}

<div class="map">
	{{ version.download_button }}
	<h3><a href="{{ show.get_absolute_url }}">{{ show.name }} {{ version.name }}</a></h3>
	<h4><a href="{{ show.user.get_absolute_url }}">{{ show.user.username }}</a> on {{ version.created_at|date:"SHORT_DATE_FORMAT" }}</h4>
	<div class="indent markdown">
		{% if screenshot %}
		<a href="{{ show.get_absolute_url }}"><img src="{{ screenshot.file_thumb.url }}" alt="" class="screenshot_thumb"></a>
		{% endif %}
		{{ show.body|markdownify }}

		{% if version.body != "" %}
		<h5>Notes for version {{ version.name }}:</h5>
		{% endif %}

		{{ version.body|markdownify }}

		<h4>
			{{ show.downloads_count }} download{{ show.downloads_count|pluralize }},
			{{ show.reviews_count }} review{{ show.reviews_count|pluralize }},
			{{ show.screenshots_count }} screenshot{{ show.screenshots_count|pluralize }},
			<span class="wip">{{ show.ratings_count|stringformat:".1f" }} rating</span>
		</h4>
	</div>
</div>
<hr />
