{% load static %}
{% load markdownify %}

<div class="map">
    <div class="map-header">
        <div>
            <h3><a href="{{ show.get_absolute_url }}">{{ show.name }}</a> {{ version.name }}</h3>
            <h4><a href="{{ show.get_byline_url }}">{{ show.get_byline }}</a> on {{ show.version_created_at|date:"SHORT_DATE_FORMAT" }}</h4>
        </div>
        <div>
            {{ version.download_button }}
        </div>
    </div>

    {% if show.topnote %}
        <ul class="messages">
          <li class="info">
              <strong>Admin note:</strong> {{ show.topnote|markdownify }}
          </li>
        </ul>
    {% endif %}

    <div class="markdown">
        {% if show.should_truncate %}
            <div class="truncated">
                {% if screenshot %}
                    <a href="{{ show.get_absolute_url }}" aria-label="{{ show.name }}"><img src="{{ screenshot.file_thumb.url }}" alt="{{ screenshot.label }}" class="screenshot_thumb"></a>
                {% endif %}

                {{ show.body|markdownify }}
            </div>
            <a href="{% url 'item_detail' show.permalink %}" class="read-more">Read more</a>
        {% else %}
            {% if screenshot %}
                <a href="{{ show.get_absolute_url }}" aria-label="{{ show.name }}"><img src="{{ screenshot.file_thumb.url }}" alt="{{ screenshot.label }}" class="screenshot_thumb"></a>
            {% endif %}

            {{ show.body|markdownify }}
        {% endif %}

        {% if version.body.strip is not None and version.body.strip != "" %}
            {{version.body.trim }}
            <h5>Notes for version {{ version.name }}:</h5>
            {{ version.body|markdownify }}
        {% endif %}

        {% if show.should_truncate %}
        {% endif %}
        <h4>
            {{ show.downloads_count }} download{{ show.downloads_count|pluralize }},
            {{ show.reviews_count }} review{{ show.reviews_count|pluralize }},
            {{ show.screenshots_count }} screenshot{{ show.screenshots_count|pluralize }}{% if show.reviews_count > 0 %},
                {{ show.rating_average|stringformat:".1f" }} rating
            {% endif %}
        </h4>
    </div>
</div>
