<div class="navblock">
    <h3>Gameplay Types</h3>
    <ul>
        <li><a href="{% url 'tag' 'emfh' %}">Every Man for Himself</a></li>
        <li><a href="{% url 'tag' 'solocoop' %}">Solo / Cooperative</a></li>
        <li><a href="{% url 'tag' 'koth' %}">King of the Hill</a></li>
        <li><a href="{% url 'tag' 'ktmwtb' %}">Kill the Man with the Ball</a></li>
        <li><a href="{% url 'tag' 'ctf' %}">Capture the Flag</a></li>
        <li><a href="{% url 'tag' 'survival' %}">Survival</a></li>
    </ul>
</div>

<div class="navblock">
    <h3>File Types</h3>
    <ul>
        <li><a href="{% url 'tag' 'map' %}">Map</a></li>
        <li><a href="{% url 'tag' 'scenario' %}">Scenario</a></li>
        <li><a href="{% url 'tag' 'plugin' %}">Plugin</a></li>
        <li><a href="{% url 'tag' 'enhancement' %}">Enhancement</a></li>
        <li><a href="{% url 'tag' 'script' %}">Script</a></li>
        <li><a href="{% url 'tag' 'physics' %}">Physics</a></li>
        <li><a href="{% url 'tag' 'utility' %}">Utility</a></li>
    </ul>
</div>

<div class="navblock">
    <h3>Scenarios</h3>
    <ul>
        <li><a href="{% url 'scenario' 'marathon' %}">Marathon</a></li>
        <li><a href="{% url 'scenario' 'marathon-2-durandal' %}">Marathon: Durandal</a></li>
        <li><a href="{% url 'scenario' 'marathon-infinity' %}">Marathon: Infinity</a></li>
    </ul>
</div>
