{% block content %}

{% with search=request.GET.search|default:'' %}
  <div class="navblock search">
    <form method="get" action=".">
      <input type="text" name="search" id="search" value="{{ search }}" placeholder="Search" />
    </form>
  </div>
{% endwith %}

<div class="navblock">
  <h3>Sort by release</h3>
  <ul>
    <li><a href="?order=new">Newest</a></li>
    <li><a href="?order=old">Oldest</a></li>
  </ul>
</div>

<div class="navblock">
  <h3>Sort by User Reviews</h3>
  <ul>
    <li><a href="?order=best">Best Reviewed</a></li>
    <li><a href="?order=reviews">Average Review</a></li>
    <li><a href="?order=loud">Most Reviews</a></li>
  </ul>
</div>

<div class="navblock">
  <h3>Sort by Downloads</h3>
  <ul>
    <li><a href="?order=popular">All Time</a></li>
  </ul>
</div>

{% endblock %}
