<div id="errorExplanation">
	<h2>Simplici7y 2.0 is being written / migrated.</h2>
	<p>I am actively re-writing Simplici7y from Ruby on Rails 2 to Python and Django. This will allow for modern hosting (no more downtime) and the ability to fix bugs, add features, and make changes. Please be patient as I re-create the existing pages and then make improvements. I will not work on enabling logins until I know the database is done being reset.</p>
	<p>There is an archive at <a href="https://lochnits.com/s7/">lochnits.com/s7/</a></p>
	<p>See my progress on Github <a href="https://github.com/rkuykendall/Simplici7y">github.com/rkuykendall/Simplici7y</a> or say Hi to Switch on <a href="https://discord.com/invite/marathonthegame">Discord</a></p>
</div>
<hr />
