{% load static %}
{% load helpers %}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R1B7GLGNXW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-R1B7GLGNXW');
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&family=Instrument+Sans:wght@400;700&display=swap" rel="stylesheet">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="{% description %}" />
    <title>{% pagetitle %}</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <link rel="alternate" type="application/rss+xml" title="New Uploads" href="/items.rss"/>
    <link rel="alternate" type="application/rss+xml" title="New Reviews" href="/reviews.rss"/>
    <link rel="canonical" href="{{ request.build_absolute_uri }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="{% pagetitle %}">
    <meta property="og:site_name" content="Simplici7y">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:description" content="{% description %}">
    <meta property="og:type" content="article">

    {% if item %}
        <meta property="article:published_time" content="{{ item.created_at|date:'c' }}">
        <meta property="article:author" content="{{ item.user.first_name }}">
        {% if item.version_created_at %}
            <meta property="article:modified_time" content="{{ item.version_created_at|date:'c' }}">
        {% endif %}

        {% if item.tags %}
            {% for tag in item.tags.all %}
                <meta property="article:tag" content="{{ tag.name }}">
            {% endfor %}
        {% endif %}
    {% endif %}

    {% og_image as og_image_url %}
    {% if og_image_url %}
        <meta property="og:image" content="{{ og_image_url }}">
    {% endif %}
</head>

<body>
    <div id="menu">
        <ul id="navigation">
            <li class="logo"><a href="/">{{ site_title_html | safe }}</a></li>
            <li><a href="{% url 'home' %}">New</a></li>
            <li><a href="/?order=best">Best</a></li>
            <li><a href="{% url 'reviews' %}">Reviews</a></li>
            <li><a href="{% url 'users' %}">Users</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'user' user.username %}" class="username">{{ user.first_name }}</a></li>
                <li><a href="{% url 'item_create' %}" class="control">Submit</a></li>
                <li><a href="{% url 'settings' %}" class="control">Settings</a></li>
                <li><a href="{% url 'logout' %}" class="control">Log out</a></li>
            {% else %}
                <li><a href="{% url 'signup' %}" class="control">Sign Up</a></li>
                <li><a href="{% url 'login' %}" class="control">Log In</a></li>
            {% endif %}
        </ul>
    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div id="container">
        {% block content %}{% endblock %}
    </div>

    {% include '_footer.html' %}
</body>
</html>
