{% load static %}
{% load helpers %}

<!DOCTYPE HTML>
<html>
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-R1B7GLGNXW"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-R1B7GLGNXW');
	</script>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="viewport">
	<meta name="description" content="{% description %}" />
    <title>Simplici7y</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
	<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
	<link rel="alternate" type="application/rss+xml" title="New Uploads" href="/items.rss"/>
	<link rel="alternate" type="application/rss+xml" title="New Reviews" href="/reviews.rss"/>
</head>

<body class="{{ view_name }}">
	<div id="menu">
		<ul id="navigation">
			<li><a href="/" class="logo">Simplici<span>7</span>y</a></li>
			<li><a href="{% url 'home' %}">New</a></li>
			<li><a href="/?order=best">Best</a></li>
			<li><a href="{% url 'reviews' %}">Reviews</a></li>
			<li><a href="{% url 'users' %}">Users</a></li>

			{% if user.is_authenticated %}
				<li><a href="{% url 'user' user.username %}" class="username">{{ user.username }}</a></li>
				<li><a href="{% url 'add_item' %}" class="control">Submit</a></li>
				<li><a href="{% url 'settings' %}" class="control">Settings</a></li>
				<li><a href="{% url 'logout' %}" class="control">Log out</a></li>
			{% else %}
				<li><a href="{% url 'signup' %}" class="control">Sign Up</a></li>
				<li><a href="{% url 'login' %}" class="control">Log In</a></li>
			{% endif %}
		</ul>
		<hr />
	</div>

	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}

	<div id="container">
		{% block content %}{% endblock %}
        <hr />
	</div>

	<div id="footer">
		<img src="{% static 'images/big-logo.png' %}" width="945px" alt="Simplici7y" />
		<div id="community">
			<a href="https://alephone.lhowon.org/" class="community_box">
				<span>Aleph One</span> Play Marathon free.
			</a>
			<a href="https://discord.gg/ZuJRd8xJ" class="community_box">
				<span>Discord</span> Talk with players and mappers.
			</a>
			<a href="http://forums.bungie.org/story/" class="community_box">
				<span>Marathon Story</span> The original Marathon forum.
			</a>
			<a href="https://marathon.bungie.org/indexclassic.html" class="community_box">
				<span>Everything else</span> marathon.bungie.org.
			</a>
		</div>
		<hr />
	</div>
</body>
</html>
