{% load static %}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R1B7GLGNXW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-R1B7GLGNXW');
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&family=Instrument+Sans:wght@400;700&display=swap" rel="stylesheet">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="Error Page" />
    <title>Error Page</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <link rel="alternate" type="application/rss+xml" title="New Uploads" href="/items.rss"/>
    <link rel="alternate" type="application/rss+xml" title="New Reviews" href="/reviews.rss"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="menu">
        <ul id="navigation">
            <li class="logo"><a href="/">Simplici<span>7</span>y</a></li>
        </ul>
    </div>

    <div id="container">
        {% block content %}{% endblock %}
    </div>

    {% include '_footer.html' %}
</body>
</html>
