{% extends "base.html" %}
{% load markdownify %}
{% load helpers %}

{% block content %}
<h1><a href="{% url 'home' %}">{{ pagetitle|default:'Downloads' }}</a></h1>

<div class="layout-1-2-1">
<div class="sidebar">
  <h2>Search &amp; Sort</h2>

  {% include "_sort.html" %}
</div>


<div>
  <h2>{% subtitle %}</h2>

    {% if scenario %}
      {% with show=scenario %}
        {% include "_show_item.html" %}
      {% endwith %}

      <h2>Associated Downloads</h2>
    {% endif %}

    {% for item in page_obj %}
      {% with show=item version=item.latest_version.0 screenshot=item.random_screenshot.0 %}
        {% include "_show_item.html" %}
      {% endwith %}
    {% empty %}
        <div>There are no results to display.</div>
    {% endfor %}

    {% include "_pagination.html" %}
</div>

<div class="sidebar">
  <h2>Filter by Tags</h2>
  {% include "_sidebar_tags.html" %}
</div>

</div>
{% endblock %}
