{% extends "base.html" %}
{% load markdownify %}
{% load helpers %}

{% block content %}
<h1><a href="{% url 'items' %}">{{ pagetitle|default:'Downloads' }}</a></h1>

<div class="sidebar">
  <h2>Search &amp; Sort</h2>

    {% include "_sort.html" %}
	<hr />
</div>


<div class="content">
  <h2>{% subtitle %}</h2>

    {% for item in page_obj %}
        {% with show=item version=item.latest_version.0 screenshot=item.random_screenshot.0 %}
            {% include "_show_partial.html" %}
        {% endwith %}
    {% empty %}
        <div>There are no results to display.</div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?{% url_replace page=1 %}">&laquo; first</a>
                <a href="?{% url_replace page=page_obj.previous_page_number %}">previous</a>
            {% else %}
                <span class="disabled">&laquo; First</span>
                <span class="disabled">Previous</span>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?{% url_replace page=page_obj.next_page_number %}">Next</a>
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}">Last &raquo;</a>
            {% else %}
                <span class="disabled">Next</span>
                <span class="disabled">Last &raquo;</span>
            {% endif %}
        </span>
    </div>

    	<hr />
</div>

<div class="sidebar">
  <h2>Filter by Tags</h2>
    {% include "_sidebar_tags.html" %}
	<hr />
</div>

<hr />
{% endblock %}
