{% extends 'base.html' %}

{% block content %}
<div class="simple">
  <h2>Delete Item</h2>
  <p>
    Are you sure you want to delete the item "{{ item.name }}"?
    This will destroy this item, along with all the versions, screenshots, and reviews associated with it.
  </p>

  <form method="POST">
    {% csrf_token %}
    <div class="button-bar">
    <a href="javascript:history.back()" class="button skip">No, take me back</a>
    <button type="submit" class="button negative delete">Yes, delete</button>
    </div>
  </form>
</div>
{% endblock %}
