{% extends "base.html" %}
{% load helpers %}

{% block content %}
<style>
    .tag-list-tag {
        display: inline-block;
        text-decoration: none;
        font-size: 1.5em;
        margin: 0 1em 1em 0;
    }

    .tag-list-count {
        color: var(--color-light);
    }
</style>

<h1><a href="{% url 'tags' %}">All Tags</a></h1>

<div class="full">
    {% for tag in tags %}
    <a href="{% url 'tag' name=tag.name %}" class="tag-list-tag">{{ tag.name }}&nbsp;<span class="tag-list-count">({{ tag.count }})</span></a>
    {% endfor %}
</div>

{% endblock content %}
