{% extends "base.html" %}
{% load helpers %}

{% block content %}
<h1><a href="{% url 'users' %}">Active Users</a></h1>

<div class="full users">
    {% for user in users %}
        <a href="{% url 'user' user.username %}" class="user">
            <h3>{{ user.first_name }}</h3>
            <h4>
                {{user.items_count}} {{ user.items_count|pluralize:'item,items' }},
                {{user.reviews_count}} {{ user.reviews_count|pluralize:'review,reviews' }}
            </h4>
        </a>
    {% empty %}
        <p>No active users found.</p>
    {% endfor %}

</div>

<hr />
{% endblock content %}
