{% extends "base.html" %}

{% block content %}
<h1>
  <a href="{% url 'user' username=user.username %}">{{ user.first_name }}</a>
</h1>

<div class="content">
  <h2>{{ user.items_count }} Submission{{ user.items_count|pluralize }}</h2>

  {% include "_sort.html" %}
  <hr />

  {% for item in items %}
    {% include '_show_partial.html' with show=item %}
  {% endfor %}
</div>

<div class="content">
  <h2>{{ user.reviews_count }} Review{{ user.reviews_count|pluralize }}</h2>

  {% for review in reviews %}
    {% include '_show_review.html' with show=review %}
  {% endfor %}
</div>
{% endblock content %}
