{% extends "base.html" %}

{% block content %}
<h1>
  <a href="{% url 'user' username=show_user.username %}">{{ show_user.first_name }}</a>
</h1>

<div class="layout-1-1">
<div>
  <h2>{{ show_user.items_count }} Submission{{ show_user.items_count|pluralize }}</h2>

  {% if show_user.items_count > 0 %}
    {% include "_sort.html" %}
  {% else %}
    <div>No submissions.</div>
  {% endif %}

  {% for item in items %}
    {% if item.latest_version %}
      {% with show=item version=item.latest_version.0 screenshot=item.random_screenshot.0 %}
        {% include "_show_item.html" %}
      {% endwith %}
    {% else %}

    <ul class="messages">
      <li class="warning">
        <div style="display: flex; gap: 1rem; flex-direction: row; justify-content: space-between">
          <div style="flex-shrink: 1">"{{ item.name }}" has no versions.</div>
          <div style="flex-shrink: 0">
            <a href="{% url 'item_edit' item_permalink=item.permalink %}">Edit item</a><br />
            <a href="{% url 'version_create' item_permalink=item.permalink %}">Add version</a><br />
            <a href="{% url 'item_delete' item_permalink=item.permalink %}">Delete item</a>
          </div>
        </div>
      </li>
    </ul>
    {% endif %}
  {% endfor %}

  {% if items.paginator.num_pages > 1 %}
    {% include "_pagination.html" with page_obj=items %}
  {% endif %}
</div>

<div>
  <h2>{{ show_user.reviews_count }} Review{{ show_user.reviews_count|pluralize }}</h2>

  {% for review in reviews %}
    {% include '_show_review.html' with show=review %}
  {% endfor %}
</div>
</div>
{% endblock content %}
