<%= error_messages_for :child %>

<% form_for(:child, :url => item_screenshots_url(@item), :html => { :multipart => true, :class => 'cmxform' }) do |f| %>

  <%= render :partial => 'form', :locals => {:f => f} %>
  
  <p>
    <%= submit_tag "Add Screenshot" %>
    or <%= link_to "Skip this step", item_url(@item) %>
  </p>
<% end %>