  <div class="navblock">
    <h3 class="logo">Simplici7y Links</h3>
    <ul>
    	<li><%= link_to 'About the project', item_path('simplici7y') %></li>		
    	<li><%= link_to 'Popular tags', tags_path %></li>		
    	<li><%= link_to 'Issue tracker', 'https://github.com/rkuykendall/Simplici7y/issues', :target => '_blank' %></li>		
    	<li>
    		<script type="text/javascript" language="javascript">
    		<!--
    		ML="j\"/k0cK=t?i2.<:7>@b feRmnyld-p%usharoS";
    		MI="=RCQSED71GR:J8T>FTBES8C6OI3EHKRJJC=STBES8AS3OI3EHKRJJ<5TG@9POB0E587U:GMJ:5:?IN;4LN;41@UEHKCGECRHCEGR:J=2R@";
    		OT="";
    		for(j=0;j<MI.length;j++){
    		OT+=ML.charAt(MI.charCodeAt(j)-48);
    		}document.write(OT);
    		// --></script>
    	</li>
    </ul>
  </div>
