<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="description" content="File sharing downloads for the Marathon Aleph One community. Download community created maps, scenarios, mods, scripts, and applications." />
	<meta name="keywords" content="bungie, marathon, downloads, maps, multiplayer, aleph one, scenarios, simplicity, pfhorums" />
  
	<title>Simplici7y - <%= clean(@pagetitle) %></title>
	<%= stylesheet_link_tag 'application' %>
	<%= stylesheet_link_tag 'pushup' %>
	<%= javascript_include_tag 'pushup' %>
	<link rel="alternate" type="application/rss+xml" title="New Uploads" href="/items.rss" />
	<link rel="alternate" type="application/rss+xml" title="New Reviews" href="/reviews.rss" />
	<link rel="icon" type="image/png" href="/images/favicon.png" />
</head>

<body class="<%= controller.controller_name + ' ' + controller.action_name %>">
	<div id="menu">
		<ul id="navigation">
			<li><a href="/" class="logo">Simplici<span>7</span>y</a></li>
			<li><%= link_to('Downloads', items_path); %></li>
			<li><%= link_to('Reviews', reviews_path) %></li>
			<li><%= link_to "Users", users_path %></li>

			<% if logged_in? %>	
				<li><%= link_to clean(current_user.login), user_path(current_user), :class => 'username' %></li>
				<li><%= link_to "Submit", new_item_path, :class => 'control' %></li>
				<li><%= link_to "Settings", edit_user_path(current_user), :class => 'control' %></li>
				<li><%= link_to "Log out", logout_path, :class => 'control' %></li>
			<% else %>
				<li><%= link_to 'About', item_path('simplici7y') %></li>
				<li><%= link_to 'Community', '#community' %></li>
				<li><%= link_to "Sign Up", signup_path, :class => 'control' %></li>
				<li><%= link_to "Log In", login_path, :class => 'control' %></li>
			<% end %>

		</ul>
		<hr />
	</div>
	
	<% if flash[:notice] %>
			<div class="subnav"><div class="notice"><%= flash[:notice] %></div></div>
	<% elsif !logged_in? %>	
			<div class="subnav"><div class="notice">
				Welcome to Simplici7y, file sharing for the
				<a href="http://marathon.sourceforge.net/" target="blank">Aleph One</a> community. 
				<%= link_to "Sign up", signup_url %> or 
				<%= link_to "log in", login_url %>
				to start adding and reviewing files.
			</div></div>
	<% end %>
	
	<div id="container">
		<%= yield  %>
    <hr />
	</div>
	
	<div id="footer">
		<img src="/images/big-logo.png" alt="Simplici7y" />
		<div id="community">
			<a href="http://www.simplici7y.com/items/simplici7y" class="community_box">
				<span>Simplici7y</span> Aleph One file sharing website.
			</a>
			<a href="http://www.pfhorums.com/" class="community_box">
				<span>The Pfhorums</span> Talk with players and mappers.
			</a>
			<a href="http://source.bungie.org/" class="community_box">
				<span>Source.Bungie.Org</span> Aleph One project homepage.
			</a>
			<a href="http://forums.bungie.org/story/" class="community_box">
				<span>Marathon Story</span> The original Marathon forum.
			</a> 
		</div>
		<hr />
	</div>
	
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-11153057-3");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>
