<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title><%= yield :title %>Simplici7y</title>
	<%= stylesheet_link_tag 'application' %>
	<%= stylesheet_link_tag 'pushup' %>
	<%= javascript_include_tag 'pushup' %>
	<link rel="alternate" type="application/rss+xml" title="New Items" href="/items.rss">
	<link rel="alternate" type="application/rss+xml" title="New Reviews" href="/reviews.rss">
	<link rel="icon" type="image/png" href="/images/favicon.png"/>
</head>

<body>
	<div id="container">
		<div id="header">
			<span class="navigation">
				<%= tab_for('items', items_path) %>
				<%= tab_for('reviews', reviews_path) %>
			</span>
			
			<% if logged_in? %>	
				<span class="userinfo"><%= link_to current_user.login, user_path(current_user) %> [ <%= link_to "account", edit_user_url(current_user) %> | <%= link_to "log out", logout_url %> | <%= link_to "new", new_item_url %> |  <%= link_to "manage", users_path %> ]</span>
			<% else %>
				<span class="userinfo"><%= link_to "sign up", signup_url %> / <%= link_to "log in", login_url %></span>
			<% end %>
			<h1><%= link_to(image_tag("/images/simplici7y.png", :alt => "Simplici7y"), '/') %></h1>
		</div>

		<div id="sidebar">
			<%= render :partial => "layouts/sidebar" %>
		</div>

		<div id="content">
			<% if flash[:notice] %>
					<div class="notice"><%= flash[:notice] %></div>
				<% elsif !logged_in? %>	
					<div class="notice">
						<%= link_to "sign up", signup_url %>	or  
						<%= link_to "log in", login_url %>
						to start adding and reviewing files.
					</div>
			<% end %>
			
			<%= yield  %>
		</div>

		<div id="footer">
		</div>

	</div>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-11153057-3");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>
