<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title><%= yield :title %>Simplici7y</title>
	<%= stylesheet_link_tag 'application' %>
	<%= stylesheet_link_tag 'pushup' %>
	<%= javascript_include_tag 'pushup' %>
	<link rel="alternate" type="application/rss+xml" title="New Uploads" href="/items.rss">
	<link rel="alternate" type="application/rss+xml" title="New Reviews" href="/reviews.rss">
	<link rel="icon" type="image/png" href="/images/favicon.png"/>
</head>

<body>
	<div id="menu">
		<ul id="navigation">
			<li><a href="/" class="logo">Simplici<span>7</span>y</a></li>
			<li><%= link_to('Downloads', items_path); %></li>
			<li><%= link_to('Reviews', reviews_path) %></li>

			<% if logged_in? %>	
				<li><%= link_to clean(current_user.login), user_path(current_user), :class => 'username' %></li>
				<li><%= link_to "Uploads", users_path, :class => 'control' %></li>
				<li><%= link_to "Submit", new_item_path, :class => 'control' %></li>
				<li><%= link_to "Settings", edit_user_path(current_user), :class => 'control' %></li>
				<li><%= link_to "Log out", logout_path, :class => 'control' %></li>
			<% else %>
				<li><%= link_to "sign up", signup_path, :class => 'control' %></li>
				<li><%= link_to "log in", login_path, :class => 'control' %></li>
			<% end %>

		</ul>
		<hr />
	</div>
	
	
	<div id="container">
		<div id="sidebar">
			<%= render :partial => "layouts/sidebar" %>
			<hr />
		</div>

		<div id="content">
			<% if flash[:notice] %>
					<div class="notice"><%= flash[:notice] %></div>
				<% elsif !logged_in? %>	
					<div class="notice">
						<%= link_to "Sign up", signup_url %> or 
						<%= link_to "log in", login_url %>
						to start adding and reviewing files.
					</div>
			<% end %>
			
			<%= yield  %>

			<hr />
		</div>
		<hr />
	</div>
	
	<div id="footer">
		<img src="/images/big-logo.png">
		<div id="community_boxes">
			<div class="community_box">
				<a href="http://www.simplici7y.com" class="logo">Simplici<span>7</span>y</a> Aleph One file sharing website.
			</div>
			<div class="community_box">
				<a href="http://www.pfhorums.com/">The Pfhorums</a> Talk with players and mappers.
			</div>
			<div class="community_box">
				<a href="http://source.bungie.org/">Source.Bungie.Org</a> Aleph One project homepage.
			</div>
			<div class="community_box">
				<a href="http://forums.bungie.org/story/">Marathon Story</a> The original Marathon forum.
			</div>
		</div>
		<hr>
	</div>
	
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-11153057-3");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>
