
/* ==============================
      Meyer CSS Reset
   ============================== */

/*
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* ==============================
      Core Structure
   ============================== */

html, body {
    padding-bottom: 20px;
}

#container {
    width: 960px;
    margin: 0 auto;
}
  .content { /* 480px in the end, half */
    width: 460px;
    padding-left: 20px;
    float: left;
  }
  .sidebar {  /* 240px in the end, one fourth */
      width: 220px;
      margin-left: 20px;
      float: left;
      display: inline; /* floats are handled as block elements, this is to fix
                                    a margin collapsing bug in IE */
  }
  .simple { /* Center of the page */
      max-width: 560px;
      padding: 30px 200px 0 200px;
  }
  .full {
    padding: 20px;
}

hr {
    border: 0px;
    height: 1px;
    margin-bottom: -1px;
    width: 970px;
    clear: both;
    }
    .content hr {
        width: 460px;
        clear: right;
    }
    .sidebar hr {
        width: 220px;
        clear: left;
    }



/* ==============================
      Buttons
   ============================== */

.button-bar {
    text-align: right;
}

:root {
  --color-primary: #7198c8;
  --color-secondary: #2B2D42;
  --color-success: #5ec269;
  --color-warn: #d87437;
  --color-danger: #FB3640;

  --text-lighter: #A1A1A1;
}


.button,
input[type=submit],
button[type=submit],
form input[type=submit] {
    cursor: pointer;
    display: inline-block;
    min-width: 100px;
    padding: 7px 14px 7px 49px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    cursor: pointer;

    -webkit-mask-image: url("../images/icons/generic.svg"), linear-gradient(#fff 0 0);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: destination-out;
    -webkit-mask-position: left;

    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}

a.button:hover,
.button:hover {
    opacity: 0.8;
    color: white;
    }
    .button:active {
    position: relative;
    top: 1px;
}

.button.positive {
    background-color: var(--color-success);
}

.button.danger {
    background-color: var(--color-danger);
}

.button.change {
    background-color: var(--color-secondary);
}


/* Icons */
.button.skip       { -webkit-mask-image: url('../images/icons/chevron-right.svg'), linear-gradient(#fff 0 0); }
.button.next       { -webkit-mask-image: url('../images/icons/chevron-right.svg'), linear-gradient(#fff 0 0); }
.button.down       { -webkit-mask-image: url('../images/icons/chevron-down.svg'), linear-gradient(#fff 0 0); }

.button.accept     { -webkit-mask-image: url('../images/icons/add.svg'), linear-gradient(#fff 0 0); }
.button.add        { -webkit-mask-image: url('../images/icons/add.svg'), linear-gradient(#fff 0 0); }

.button.cancel     { -webkit-mask-image: url('../images/icons/chevron-left.svg'), linear-gradient(#fff 0 0); }
.button.delete     { -webkit-mask-image: url('../images/icons/delete.svg'), linear-gradient(#fff 0 0); }

.button.edit-txt   { -webkit-mask-image: url('../images/icons/edit.svg'), linear-gradient(#fff 0 0); }


/* ==============================
      Global Text
   ============================== */

html, body, h4, h5, input  {
    color: #666;
    font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2em;
}

h1, h2, h3, legend {
     line-height: 1.2em;
     color: #333;
}

h1 {
  /* Header for a whole page */
    font-size: 35px;
  width: 920px;
  clear: both;
  margin: 20px 20px 0 20px;
}
h1 a {
  text-decoration: none;
}
h1 span,
h1 span a {
  color: #999;
}

h2 {
  /* Header for a section */
  font-size: 25px;
  margin: 25px 0 20px 0;
  border-bottom: 5px solid #eee;
  font-weight: 400;
  letter-spacing: 0.03em;
}

h3, legend, .search {
  /* Header for a item */
    margin: 0;
    font-size: 20px;
    padding-bottom: 10px;
    }
    h3 span,
    h3 span a {
      /* grey part of the title */
    color: #ccc;
    text-decoration: none;
}

h4, h4 a {
  /* Subheader for a item */
    margin: 0;
    margin-top: -10px;
    color: #aaa;
}

h5 {
    color: black;
    margin-bottom: 2px;
}



.sidebar {
    font-size: 14px;
    color: #333;
}

label,
input,
select,
textarea {
    font-size: 18px;
    color: #666;
    }
    textarea {
        font-size: 14px;
    }
    input.file {
        font-size: 14px;
}

p {
    line-height: 1.4em;
}

p, ul, ol, hr.clear {
    margin-bottom: 15px;
}

acronym { /* for sidebar acronyms ( KTMWTB, EMFH... ) */
    border: 0;
}

strong, b {
    font-weight: bold;
}

a, a img {
    color: #000;
    }
    a img {
        border: 0;
    }
    a:hover {
        color: #336699;
    }
    a:active {
        color: #fff;
        background-color: #6299c5;
}

li {
    padding: 0 0 4px 20px;
}

ol.details {
    list-style: decimal outside;
  }
  ul.details {
      list-style: circle outside;
  }
  .details li {
      margin: 0 0 5px 20px;
      padding: 0 0 0 0;
  }
  .details li a {
    color: #555;
  }
  .details li a:active {
    color: white;
}



/* ==============================
      Markdown
   ============================== */

    .markdown li {
        margin: 0 0 10px 20px;
        padding: 0 0 0 0;
    }

    .markdown ol {
        list-style: decimal outside;
    }

    .markdown ul {
        list-style: circle outside;
    }

    .markdown em {
        font-style: italic;
    }

    .markdown strong {
        font-weight: bold;
    }

    .markdown p {
      overflow: hidden;
    }
    .markdown li p {
    overflow: visible;
    }

/* ==============================
      Header Menu
   ============================== */

div#menu {
    background-color: #1A1A1A;
    border-bottom: 1px solid #000;
    border-top: 2px solid #7197CC;
    margin-bottom: 30px;
}
div#menu ul li {
    display: block;
    float: left;
    padding: 0;
    margin: 0;
}
div#menu #navigation {
    width: 960px;
    margin: 0 auto;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}
div#menu a {
    display: block;
    margin: 5px;
    padding: 5px 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    }
    div#menu a:link,
    div#menu a:visited {
        color: #fff;
        text-decoration: none;
    }
    div#menu ul li a:active,
    div#menu ul li a:hover {
        background-color: #000;
        color: #fff;
}
div#menu a.logo {
    font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
    text-transform: none;
    font-size: 1.1em;
    }
    a.logo span {
        color: #6C98CC;
}
div#menu a.control {
    color: #bbb;
}
div#menu a.username {
    max-width: 125px;
    overflow: hidden;
}



/* ==============================
      Footer
   ============================== */

html {
  background-color: #343434;
}

body {
  background-color: white;
}


div#footer {
    clear: both;

    background-color: #343434;
    text-align: center;
    background-image: url("../images/bg_footer.png");
    background-size: 1px 204px;
    background-repeat: repeat-x;
    position: absolute;
    right: 0;
    left: 0;
}
div#footer .community_box {
    text-decoration: none;
    text-align: left;
    width: 201px;
    border: 2px solid #222;
    float: left;
    margin: 10px;
    background-color: #272727;
    padding: 10px;
    color: #666;
}
div#footer .community_box span {
    display: block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    text-decoration: none;
}
div#footer .community_box:hover {
    border-color: white;
    outline: thin solid black;
    background-color: #222;
}
div#footer div#community {
    width: 980px;
    margin: 0 auto;
}



/* ==============================
      Notices
   ============================== */

.messages li {
    color: #333;

    padding: 7px 10px 7px 42px;
    margin: 0 auto;
    max-width: 908px;
    margin-bottom: 15px;
    font-size: 16px;

    background-position: 15px 11px;
    background-repeat: no-repeat;

    border-width: 1px;
    border-style: solid;

    line-height: 22px;
    text-decoration: none;

    border-radius: 2px;
}

.messages li.info {
    background-image: url('../images/silk/information.png') ;
    background-color: #F5F5F5;
    border-color: #DEDEDE;
}

.messages li.error {
    background-image: url('../images/silk/exclamation.png');
    background-color: #fbe3e4;
    border-color: #fbc2c4;
}

.messages li.success {
    background-image: url('../images/silk/accept.png');
    background-color: #e6efc2;
    border-color: #c6d880;
}

.messages li.warning {
    background-image: url('../images/silk/error.png');
    background-color: #fbf5d3;
    border-color: #f1d576;
}

div.subnav {
    background-color: #F5F5F5;
    margin-top: -30px;
}

div.subnav div.notice {
  border: none;
}

#errorExplanation {
    border: 3px solid #c00;
    padding: 10px 15px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    background-color: #f9e5e5;
    border-radius: 4px;
    }

    #errorExplanation h2 {
        text-align: left;
        font-size: 20px;
        letter-spacing: 1px;
        padding: 5px 15px;
        margin: -10px -15px;
        margin-bottom: 10px;
        background-color: #c00;
        color: #fff;
    }

    #errorExplanation p {
        color: #280000;
    }

    #errorExplanation ul {
        list-style: square;
        list-style-position: inside;
}



/* ==============================
      Sidebar
   ============================== */

.sidebar {
    margin-bottom: 10px;
}


/* ==============================
      Navblocks
   ============================== */

.navblock {
  width: 220px;
  margin: 0;
  padding: 0;
}

.navblock ul {
    margin-bottom: 20px;
    }
    .navblock ul li {
        list-style: none;
    }
    .navblock ul li a:link,
    .navblock ul li a:visited {
        color: #666;
        text-decoration: none;
    }
    .navblock ul li a:hover {
        color: #336699;
    }
    .navblock ul li a:active {
        color: #fff;
}

#container .content .navblock {
  float: left;
}

#container .content .navblock + hr {
  margin-bottom: 20px;
}

#container .content .navblock.search,
#container .content .navblock.search input {
  width: 400px;
}

#search {
    width: 200px;
    padding: 2px;
    margin: 0;
    margin-bottom: 15px;

    font-size: inherit;
    border: solid 3px #eee;
}
#search:hover {
    border-color: #6299C5;
}


/* ==============================
      Manage Tables
   ============================== */

div.manage_map {
    margin-bottom: 20px;
    }
    table.manage {
        float: right;
        text-align: center;
        clear: right;
        color: #ccc;
        border-collapse: collapse;
        }
        table.manage td, table.manage th {
            padding: 0 10px 10px;
            background-color: #f3f3f3;
            border-left: solid 1px #666;
        }
        table.manage th {
            padding: 10px;
            border-top: 1px solid #ccc;
            color: #000;
            font-weight: normal;
        }
        table tr.newest {
            color: #666;
}

.manage_map hr {
  width: 560px;
}

div.quote img {
    float: right;
    border: 1px solid black;
    margin-left: 10px;
}



/* ==============================
      CMX Form
   ============================== */

form em {
    font-style: normal;
    color: #f00;
}

form fieldset {
    margin-bottom: 10px;
    }
    form fieldset, form fieldset fieldset {
        border: none;
    }
    form fieldset ol {
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
        }
        form fieldset li {
            padding: 0px 10px 10px 0px;
            list-style: none;
            margin: 0;
}

form .helptext {
    display: block;
}

form fieldset fieldset {
    border: none;
    margin: 3px 0 0;
    }
    form fieldset fieldset legend {
        padding: 0 0 5px;
        font-weight: normal;
    }
    form fieldset fieldset label {
        display: block;
        width: auto;
        margin-left: 123px; /* Width plus 3 (html space) */
}

form input,
form select,
form textarea {
    border: solid 1px #ddd;
    color: #666;
    background-color: #fff;

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;

    }
    form div.fieldWithErrors input,
    form div.fieldWithErrors select,
    form div.fieldWithErrors textarea {
        border: solid 2px #c00;
        background-color: #f0f0f0;
        width: 208px;
    }
    input[type=checkbox] {
      margin: 0;
    }
    form textarea.summary {
        height: 200px;
}

form input.file {
    width: 202px;
    padding: 6px;
    border: solid 1px #ddd;
}

form div.fieldWithErrors {
    display: inline;
}



/* ==============================
      Maps
   ============================== */

div.map {
    margin-bottom: 40px;
}

div.map div.sidenote {
        float: right;
        margin-top: 7px;
    }
    div.map div.sidenote .button {
        margin: 0;
}

div.subnote {
    clear: right;
    background-color: #f1f1f1;
    margin-left: -10px;
    padding: 5px 10px;
    border-top: 1px solid #cecece;
    color: #555;
    }
    div.subnote span.pipe {
        color: #f1f1f1;
        border-right: 1px solid #cacaca;
        padding: 5px 0;
        margin-left: -6px;
}

div.indent {
    margin-top: 15px;
    }
    div.indent img {
        float: right;
        padding: 5px;
        margin: 0 0 15px 15px;
        border: 1px solid #ccc;
}



/* ==============================
      Reviews
   ============================== */

div.review {
    margin-bottom: 30px;
}


/* ==============================
      Tags
   ============================== */

body.tags #container span {
    line-height: 1em;
    padding: 5px;
    display: inline-block;
}

body.tags #container span a {
  text-decoration: none;
}


/* ==============================
      Users
   ============================== */

div.user {
    width: 198px;
    padding: 10px;
    margin: 5px;
    border-top: 1px solid #eee;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    overflow: hidden;
    float: left;
}

div.user {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.46, rgb(252,252,252)),
      color-stop(0.73, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(252,252,252) 46%,
      rgb(255,255,255) 73%
  );
}
div.user:hover {
  background-image: none;
}

body.users.index #container a {
  text-decoration: none;
}


/* ==============================
      Screenshots
   ============================== */

.screenshots img {
  background-color: black;
  margin-bottom: 15px;
}

.screenshots h3 {
  margin-bottom: 5px;
  padding: 0;
}

.ss_edit {
  width: 176px;
  padding-left: 10px;
  float: left;
}

.screenshot_thumb {
  max-width: 150px;
  max-height: 200px;
}

.screenshot_content {
    max-width: 460px;
    max-height: 800px;
}


/* ==============================
      Star Rating
   ============================== */

.star-rating{
    float: right;
    margin-right: 0.167px;
    list-style:none;
    margin: 0px;
    padding:0px;
    width: 125px;
    height: 25px;
    position: relative;
    background: url('../images/star_rating.png') top left repeat-x;
    background-size: 25px;
}

.star-rating li{
    padding:0px;
    margin:0px;
    /*\*/
    float: left;
    /* */
    }
    .star-rating li a{
        display:block;
        width:25px;
        height: 25px;
        text-decoration: none;
        text-indent: -9000px;
        z-index: 20;
        position: absolute;
        padding: 0px;
        }
        .star-rating li a:hover{
            background: url('../images/star_rating.png') left 75px;
            background-size: 25px;
            z-index: 2;
            left: 0px;
            border:none;
}

.star-rating li.current-rating{
    background: url('../images/star_rating.png') left 75px;
    background-size: 25px;
    height: 25px;
    display: block;
    text-indent: -9000px;
    z-index: 1;
}
div.relevancy-2 .star-rating li.current-rating,
div.relevancy-3 .star-rating li.current-rating {
  background-position: left 25px;
}

.stat-rating a {
    }
    .star-rating a.one-star{
        left: 0px;
        }
        .star-rating a.one-star:hover{
            width:25px;
    }
    .star-rating a.two-stars{
        left:25px;
        }
        .star-rating a.two-stars:hover{
            width: 50px;
    }
    .star-rating a.three-stars{
        left: 50px;
        }
        .star-rating a.three-stars:hover{
            width: 75px;
    }
    .star-rating a.four-stars{
        left: 75px;
        }
        .star-rating a.four-stars:hover{
            width: 100px;
    }
    .star-rating a.five-stars{
        left: 100px;
        }
        .star-rating a.five-stars:hover{
            width: 125px;
}



/* ==============================
      Pagination
   ============================== */

.pagination {
  clear: both;
    padding: 3px;
    margin: 3px;
    text-align: center;
    }
    .pagination a, span.current {
        background-color: #F5F5F5;
        padding: 2px 5px;
        margin: 2px;
        border: 1px solid #DEDEDE;
        border-top: 1px solid #EEE;
        border-left: 1px solid #EEE;
        text-decoration: none;
        line-height: 22px;
        }
        .pagination a:hover {
            background-color: #dff4ff;
            border: 1px solid #c2e1ef;
            color: #336699;
        }
        .pagination a:active {
            background-color: #6299c5;
            border:1px solid #6299c5;
            color: #fff;
    }
    .pagination span.current {
        background-color: #6299c5;
        border:1px solid #6299c5;
        color: #fff;
    }
    .pagination span.disabled {
        padding: 2px 5px 2px 5px;
        margin: 2px;
        border: 1px solid #eee;
        color: #ddd;
        cursor: not-allowed;
}

.help-text {
    font-size: 0.8em;
    color: #888;
}

.errorlist {
    color: red;
    font-size: 0.8em;
}

.tag-list-tag {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 1em 1em 0;
}

.tag-list-count {
    color: var(--text-lighter);
}