:root {
  --text-xs-size: 0.75rem; /* 12px */
  --text-xs-lh: 1rem; /* 16px */

  --text-sm-size: 0.875rem; /* 14px */
  --text-sm-lh: 1.25rem; /* 20px */

  --text-base-size: 1rem; /* 16px */
  --text-base-lh: 1.5rem; /* 24px */

  --text-lg-size: 1.125rem; /* 18px */
  --text-lg-lh: 1.75rem; /* 28px */

  --text-xl-size: 1.25rem; /* 20px */
  --text-xl-lh: 1.75rem; /* 28px */

  --text-2xl-size: 1.5rem; /* 24px */
  --text-2xl-lh: 2rem; /* 32px */

  --text-3xl-size: 1.875rem; /* 30px */
  --text-3xl-lh: 2.25rem; /* 36px */

  --text-4xl-size: 2.25rem; /* 36px */
  --text-4xl-lh: 2.5rem; /* 40px */

  --color-primary-darker: #3B76BA;
  --color-primary: #6699cc;

  --color-secondary: #445e79;
  --color-success: #5ec269;
  --color-warn: #d87437;
  --color-danger: #e83733;

  --color-text-darkest: #000;
  --color-text-darker: #333;
  --color-text-medium: #666;
  --color-text-lightest: #767676;

  --color-darkest: #1A1A1A;
  --color-darker: #343434;
  --color-light: #A1A1A1;
  --color-lighter: #bbb;
  --color-lightest: #eee;
}

/* Meyer CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* Core Structure */

html {
  background-color: var(--color-darker);
}

body {
  background-color: white;
  overflow-wrap: anywhere;
}

@media screen and (max-width: 300px){
  html{
      width: 300px;
      overflow: auto;
  }
}

#container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}
  .simple {
      max-width: 560px;
      padding: 30px 0;
      margin: auto;
  }
  .full {
    padding: 20px 0;
}

.layout-1 {
  width: 100%;
}

.layout-1-1 {
    display: grid;
    grid-template-columns: 470px 470px;
    gap: 20px;
    }
    @media (max-width: 1000px) {
        .layout-1-1 {
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }
    @media (max-width: 600px) {
        .layout-1-1 {
            grid-template-columns: 1fr;
            max-width: 100%;
        }
    }

.layout-1-2-1 {
    display: grid;
    grid-template-columns: 220px 480px 220px;
    gap: 20px;
    }
    @media (max-width: 1000px) {
        .layout-1-2-1 {
            grid-template-columns: 1fr;
            gap: 0;
        }
        .sidebar {
            order: 9;
        }
    }


/* Buttons */

.button-bar {
    text-align: right;
}

.button,
input[type=submit],
button[type=submit],
form input[type=submit] {
    cursor: pointer;
    display: inline-block;
    padding: 7px 14px 7px 49px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    white-space: nowrap;

    mask: url('../images/icons/generic.svg'), linear-gradient(#fff 0 0);
    mask-composite: exclude;
    mask-repeat: no-repeat;
    -webkit-mask-image: url("../images/icons/generic.svg"), linear-gradient(#fff 0 0);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: destination-out;
    -webkit-mask-position: left;

    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;

    font-family: 'Big Shoulders Text', 'Instrument Sans', sans-serif;
    font-size: 24px;
}

.map-header .button, button[type=submit] {
    min-width: 100px;
}

a.button:hover,
.button:hover {
    opacity: 0.8;
    color: white;
    }
    .button:active {
    position: relative;
    top: 1px;
}

.button.positive {
    background-color: var(--color-success);
}

.button.danger {
    background-color: var(--color-danger);
}

.button.change {
    background-color: var(--color-secondary);
}


/* Icons */
.button.skip {
  mask-image: url("../images/icons/chevron-right.svg"), linear-gradient(#fff 0 0);
  -webkit-mask-image: url("../images/icons/chevron-right.svg"),
    linear-gradient(#fff 0 0);
}
.button.next {
  mask-image: url("../images/icons/chevron-right.svg"), linear-gradient(#fff 0 0);
  -webkit-mask-image: url("../images/icons/chevron-right.svg"),
    linear-gradient(#fff 0 0);
}
.button.down {
  mask-image: url("../images/icons/chevron-down.svg"), linear-gradient(#fff 0 0);
  -webkit-mask-image: url("../images/icons/chevron-down.svg"),
    linear-gradient(#fff 0 0);
}

.button.accept {
  mask-image: url("../images/icons/add.svg"), linear-gradient(#fff 0 0);
  -webkit-mask-image: url("../images/icons/add.svg"), linear-gradient(#fff 0 0);
}
.button.add {
  mask-image: url("../images/icons/add.svg"), linear-gradient(#fff 0 0);
  -webkit-mask-image: url("../images/icons/add.svg"), linear-gradient(#fff 0 0);
}

.button.cancel {
  mask-image: url("../images/icons/chevron-left.svg"), linear-gradient(#fff 0 0);
  -webkit-mask-image: url("../images/icons/chevron-left.svg"),
    linear-gradient(#fff 0 0);
}
.button.delete {
  mask-image: url("../images/icons/delete.svg"), linear-gradient(#fff 0 0);
  -webkit-mask-image: url("../images/icons/delete.svg"),
    linear-gradient(#fff 0 0);
}

.button.edit-txt {
  mask-image: url("../images/icons/edit.svg"), linear-gradient(#fff 0 0);
  -webkit-mask-image: url("../images/icons/edit.svg"), linear-gradient(#fff 0 0);
}


/* Global Text */

html, body, h4, h5, input  {
    color: var(--color-text-medium);
    font-family: 'Instrument Sans', sans-serif;
    font-size: var(--text-base-size);
    line-height: var(--text-base-lh);
}

h1, h2, h3, legend {
     line-height: 1.2em;
     color: var(--color-text-darkest);
}

h1 {
  /* Header for a whole page */
  font-size: var(--text-4xl-size);
  line-height: var(--text-4xl-lh);
}
h1 a {
  text-decoration: none;
}
h1 span,
h1 span a {
  color: var(--color-text-lightest);
}

h2 {
  /* Header for a section */
  font-size: var(--text-2xl-size);
  line-height: var(--text-2xl-lh);
  margin: 25px 0 20px 0;
  border-bottom: 5px solid var(--color-lightest);
  font-weight: normal;
  letter-spacing: 0.03em;
}

h3, legend, .search {
    /* Header for a item */
    margin: 0;
    font-size: var(--text-xl-size);
    line-height: var(--text-xl-lh);
    padding-bottom: 10px;
    }
    h3 span,
    h3 span a {
      /* grey part of the title */
    color: var(--color-text-lightest);
    text-decoration: none;
}

h3 + h4 {
    /* Subheader */
    margin: -10px 0 0;
}

h4, h4 a {
    color: var(--color-text-lightest);
}

h5 {
    color: var(--color-text-darkest);
    margin-bottom: 2px;
}


label,
input,
select,
textarea {
        font-size: var(--text-lg-size);
        line-height: var(--text-lg-lh);
        color: var(--color-text-medium);
    }
    textarea {
        font-size: var(--text-base-size);
        line-height: var(--text-base-lh);
    }
    input.file {
        font-size: var(--text-base-size);
        line-height: var(--text-base-lh);
}

p {
    font-size: var(--text-base-size);
    line-height: var(--text-base-lh);
}

p, ul, ol {
    margin-bottom: 1.4em;
}

acronym { /* for sidebar acronyms ( KTMWTB, EMFH... ) */
    border: 0;
}

strong, b {
    font-weight: bold;
}

a, a img {
    color: var(--color-text-darkest);
    }
    a img {
        border: 0;
    }
    a:hover {
        color: var(--color-primary);
    }
    a:active {
        color: #fff;
        background-color: var(--color-primary);
}

li {
    padding: 0 0 0 20px;
}

ol.details {
    list-style: decimal outside;
  }
  ul.details {
      list-style: circle outside;
  }
  .details li {
      margin: 0 0 5px 20px;
      padding: 0 0 0 0;
  }
  .details li a:active {
    color: white;
}



/* Markdown */
.markdown li {
    margin: 0 0 0 20px;
    padding: 0 0 0 0;
}
.markdown ol {
    list-style: decimal outside;
}
.markdown ul {
    list-style: circle outside;
}
.markdown em {
    font-style: italic;
}
.markdown strong {
    font-weight: bold;
}
.markdown p {
    overflow: hidden;
}
.markdown li p {
    overflow: visible;
}

/* Header Menu */
div#menu {
    background-color: var(--color-darkest);
    border-bottom: 1px solid #000;
    border-top: 2px solid var(--color-primary);
    margin-bottom: 30px;
}
div#menu #navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 990px;
    padding: 0;
    width: 100%;
}
div#menu #navigation li {
    padding: 0;
}

@media screen and (max-width: 600px) {
    #navigation .logo {
        width: 100%;
    }
}

div#menu a {
    display: block;
    margin: 5px;
    padding: 5px 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    }
    div#menu a:link,
    div#menu a:visited {
        color: #fff;
        text-decoration: none;
    }
    div#menu ul li a:active,
    div#menu ul li a:hover {
        background-color: #000;
        color: #fff;
}
div#menu li.logo a {
    text-transform: none;
    font-size: 1.1em;
    }
    li.logo a span {
        color: var(--color-primary);
}
div#menu a.control {
    color: var(--color-lighter);
}
div#menu a.username {
    max-width: 177px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: normal;
}



/* Footer */

div#footer {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#footer-logo {
    width: 100%;
    max-width: 980px;
}

div#footer .community_box {
    text-decoration: none;
    text-align: left;
    border: 2px solid #111;
    float: left;
    background-color: #222;
    padding: 10px;
    color: #898989;
}
div#footer .community_box span {
    display: block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: var(--text-base-size);
    line-height: var(--text-base-lh);
    text-decoration: none;
}
div#footer .community_box:hover {
    border-color: white;
    outline: thin solid black;
    background-color: #222;
}
div#footer div#footer-dark {
    background-color: var(--color-darker);
    border-top: 1px solid black;
    width: 100%;
    box-shadow: 0 -7px 0 rgba(0, 0, 0, 0.07);
}
div#footer div#community {
    width: 100%;
    max-width: 1000px;

    margin: 10px auto;
    padding: 0 10px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(237px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
}



/* Notices */
.messages li {
    color: #333;

    padding: 7px 20px;
    max-width: 900px;
    margin: 0 auto 20px;
    font-size: var(--text-base-size);
    line-height: var(--text-base-lh);

    border-width: 1px;
    border-style: solid;

    text-decoration: none;

    border-radius: 2px;
}

.messages li p {
    margin-bottom: 0;
}

.messages li.info {
    background-color: #F5F5F5;
    border-color: #DEDEDE;
}

.messages li.error {
    background-color: #fbe3e4;
    border-color: #fbc2c4;
}

.messages li.success {
    background-color: #e6efc2;
    border-color: #c6d880;
}

.messages li.warning {
    background-color: #fbf5d3;
    border-color: #f1d576;
}


/* Navblocks */

.navblock {
  display: inline-grid;
  width: 220px;
  margin: 0;
  padding: 0;
}

.navblock ul {
    margin-bottom: 20px;
    }
    .navblock ul li {
        list-style: none;
    }
    .navblock ul li a:link,
    .navblock ul li a:visited {
        color: var(--color-text-medium);
        text-decoration: none;
    }
    .navblock ul li a:hover {
        color: #336699;
    }
    .navblock ul li a:active {
        color: #fff;
}

#search {
    max-width: 200px;
    padding: 2px;
    margin: 0 0 15px;

    font-size: inherit;
    border: solid 3px var(--color-lightest);
}
#search:hover {
    border-color: var(--color-primary);
}


/* Forms */

.errorlist {
    color: var(--color-danger);
    }
    .errorlist li {
        padding: 0 0 1rem 0;
}

form .helptext {
    display: block;
}

form input:not([type=checkbox], [type=radio]),
form select,
form textarea {
    border: solid 1px var(--color-lighter);
    color: var(--color-text-medium);
    background-color: #fff;

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;

    }
    input[type=checkbox] {
      margin: 0;
    }
    form textarea.summary {
        height: 200px;
}

.help-text {
    font-size: 0.8em;
    color: var(--color-light);
}

/* Used on new item form */
div#id_popular_tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}


/* Maps */

div.map {
    margin-bottom: 40px;
    clear: both;
    overflow: auto;
}

.map-header {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.map-title {
    display: flex;
    column-gap: 1ch;
    flex-wrap: wrap;
}

div.markdown img {
    float: right;
    padding: 5px;
    margin: 0 0 15px 15px;
    background-color: #000;
}

@media (max-width: 600px) {
    .map-header {
        flex-direction: column;
    }

    div.markdown img,
    .screenshot_thumb {
        float: none;
        margin: 0;
        max-width: 100%;
        max-height: none;
    }
}

/* Reviews */

div.review {
    margin-bottom: 30px;
}

.review-header {
    margin-bottom: 5px;
}

.truncated {
    max-height: 1000px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
    mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.read-more {
    color: var(--color-primary);
    position: relative;
    top: -2ch;
}


/* Screenshots */
.screenshots-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.screenshots img {
  background-color: black;
  margin-bottom: 15px;
  width: 100%;
}

.screenshots h3 {
  margin-bottom: 5px;
  padding: 0;
}

.screenshot_thumb {
  max-width: 150px;
  max-height: 200px;
}

.screenshot_content {
    width: 100%;
}


/* Star Rating */

.star-rating {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 125px;
    height: 25px;
    position: relative;
    background: url('../images/star_rating.png') top left repeat-x;
    background-size: 25px;
}

.star-rating li {
    padding: 0;
    margin: 0;
}

.star-rating li.current-rating {
    background: url('../images/star_rating.png') left 25px;
    background-size: 25px;
    height: 25px;
    display: block;
    text-indent: -9000px;
    z-index: 1;
}



/* Pagination */

.pagination {
  clear: both;
    padding: 3px;
    margin: 3px;
    text-align: center;
    }
    .pagination a, span.current {
        background-color: #F5F5F5;
        padding: 2px 5px;
        margin: 2px;
        border: 1px solid #DEDEDE;
        border-top: 1px solid var(--color-lightest);
        border-left: 1px solid var(--color-lightest);
        text-decoration: none;
        line-height: 22px;
        }
        .pagination a:hover {
            background-color: #dff4ff;
            border: 1px solid #c2e1ef;
            color: var(--color-primary-darker)
        }
        .pagination a:active {
            background-color: var(--color-primary);
            border: 1px solid var(--color-primary);
            color: #fff;
    }
    .pagination span.current {
        background-color: #FFF;
        border: 1px solid var(--color-primary);
        color: var(--color-primary-darker);
    }
    .pagination span.disabled {
        padding: 2px 5px 2px 5px;
        margin: 2px;
        border: 1px solid var(--color-lightest);
        color: var(--color-lighter);
        cursor: not-allowed;
}
